<!DOCTYPE html>
<html>
  <head>
    <title>API Key Information</title>
  </head>
  <body>
    <h1>API Key Information</h1>
    <p>
      Note: Your API key can be used up to 500 times. Once the quota is
      completed, the key will expire and you will need to request a new one.
    </p>

    <h2>Your API Key Usage:</h2>
    <p>API Key: <%= key %></p>
    <p>API Calls Made: <%= x %></p>
    <p>API Calls Remaining: <%= 500-x %></p>

    <p><a href="/api/use">How to use API</a></p>
  </body>
</html>
