<!DOCTYPE html>
<html>
  <head>
    <title>Generate API Key</title>
  </head>
  <body>
    <h1>Generate API Key</h1>
    <form action="/api/generate" method="post">
      <label for="generateApiKey">Do you want to generate an API key?</label>
      <input
        type="checkbox"
        name="generateApiKey"
        id="generateApiKey"
        value="yes"
        required
      />
      <br />
      <button type="submit">Generate API Key</button>
    </form>
  </body>
</html>
