<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/4.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="user">
      <a href="/company/json">
        <h2>Get Generalized Information about the user in JSON Format</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/company/visual">
        <h2>Generalized Data Visualization</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/company/demand">
        <h2>See Demand Prediction</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/company/mapping">
        <h2>Geospatial Value Mapping</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/company/cost">
        <h2>Cost Efficiency</h2>
      </a>
    </div>
    <%-include('partials/last')%>