<%-include('partials/header')%>
    <title>Home</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div>
      <img
        class="img_tata"
        width="500px"
        height="500px"
        src="/images/tata_2.png"
      />
    </div>
<%-include('partials/last')%>
