<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/android-chrome-192x192.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display:wght@500&family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <% if(!isAuthenticated){%>
    <div class="nav_bar">
      <div class="home">
        <a href="/"><p>Home</p></a>
      </div>
      <div>
        <a class="signpu" href="/api/google/verify"
          ><p>Sign up with</p>
          <img
            src="/images/google_log.png"
            alt="Google Logo"
            class="google-logo"
            height="20px"
            width="20px"
        /></a>
      </div>
      <div class="test_api">
        <a href="/test_api"><p>Test API</p></a>
      </div>
      <div class="company">
        <a href="/company_login"><p>Company Login</p></a>
      </div>
      <div class="api_key">
        <a href="/api_key"><p>API KEY</p></a>
      </div>
    </div>
    <div>
      <img
        class="img_tata"
        width="500px"
        height="500px"
        src="/images/tata_2.png"
      />
    </div>
    <div class="copyright">
      <p>&copy; 2023 IIIT Pune. All rights reserved.</p>
    </div>
    <%}else{%>
    <div class="nav_bar">
      <div class="home">
        <a href="/"><p>Home</p></a>
      </div>
      <div>
        <a href="/logout"><p class="logout">Logout</p> </a>
      </div>
      <div class="test_api">
        <a href="/test_api"><p>Test API</p></a>
      </div>
      <div class="company">
        <a href="/company_login"><p>Company Login</p></a>
      </div>
      <div class="api_key">
        <a href="/api_key"><p>API KEY</p></a>
      </div>
    </div>

    <div>
      <img
        class="img_tata"
        width="500px"
        height="500px"
        src="/images/tata_2.png"
      />
    </div>
    <div class="copyright">
      <p>&copy; 2023 IIIT Pune. All rights reserved.</p>
    </div>
    <%}%>
  </body>
</html>
