<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="nav_bar">
      <div class="home">
        <a href="#"><p>Home</p></a>
      </div>
      <div class="signpu">
        <a href="#"><p>Sign up with Google</p></a>
      </div>
      <div class="test_api">
        <a href="#"><p>Test API</p></a>
      </div>
      <div class="company">
        <a href="#"><p>Company Login</p></a>
      </div>
      <div class="company">
        <a href="#"><p>API KEY</p></a>
      </div>
    </div>
    <div>
      <img
        class="img_tata"
        width="70%"
        height="35%"
        src="/images/tata_power_logo.png"
      />
    </div>
    <div class="copyright">
      <p>&copy; 2023 IIIT Pune. All rights reserved.</p>
    </div>
  </body>
</html>
