<%-include('partials/header')%>
    <title>How to Use API Key</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h1>How to use api key</h1>
    <div class="behaviour">
      <h2>User behaviour analysics</h2>
      <p>
        Send a Get request to this url mentioned in the example to see user
        behaviour note that userId<6 and >1
      </p>
      <p>num belongs to [1,5]</p>
      <p class="example">
        axios.get(
        "https://tata-power-hackathon-coep.onrender.com/api/test/behaviour?userId=num",
        { headers: { Authorization: API_KEY, }, } );
      </p>
    </div>
    <div class="effi">
      <h2>Efficiency recommendation</h2>
      <p>
        Send a Get request to the url mentioned in the example to see efficiency
        recommendation to the user,note that userId<6 and >1
      </p>
      <p>num belongs to [1,5]</p>
      <p class="example">
        axios.get(
        "https://tata-power-hackathon-coep.onrender.com/api/test/efficiency?userId=num",
        { headers: { Authorization: API_KEY, }, } );
      </p>
    </div>
    <%-include('partials/last')%>