<%-include('partials/header')%>
<link rel="stylesheet" href="/css/2.css" />
<body>
  <%-include('partials/navbar')%>
  <h1 class="header" style="margin-top: 100px">Login</h1>
  <form method="POST" action="/login">
    <label for="username">username:</label>
    <input type="username" id="username" name="username" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <button type="submit">Login</button>
  </form>
  <%-include('partials/last')%>
</body>
