<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/6.css" />
  </head>
  <body>
    <%include('partials/navbar')%>
    <img src="/ai_gen_img/map.png" alt="dp1 image" class="demand_img" />
    <p>
      Business users mostly prefer Delhi and less likely to prefer West Bengal
      for EV Charging Similarly Individual users mostly prefer West Bengal and
      less likely to prefer Tamil Nadu for EV Charging Similarly Home charging
      users mostly prefer Karnataka and less likely to prefer West Bengal for EV
      Charging So overall West Bengal is least preferred for EV Charging
    </p>
    <br />

    <%-include('partials/last')%>
