<%-include('partials/header')%>
<link rel="stylesheet" href="/css/1.css" />
  </head>
  <body>
    <%-include('partials/navbar')%>

    <form action="/test_api1" method="post" class="b1">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" required />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <%-include('partials/last')%>
