<!DOCTYPE html>
<html>
  <head>
    <title>User ID Form</title>
  </head>
  <body>
    <h1>User ID Form</h1>
    <form action="/test_api" method="post">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" min="1" max="5" required />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
