<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="user">
      <a href="/test_api/ub_analysis">
        <h2>user behaviour analysis</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/test_api/effi_recom">
        <h2>efficiency recommendation</h2>
      </a>
    </div>
  </body>
</html>
