<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/3.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="user">
      <a href="/test_api/ub_analysis">
        <h2>User Behaviour Analysis</h2>
      </a>
    </div>
    <div class="effi">
      <a href="/test_api/effi_recom">
        <h2>Efficiency Recommendation</h2>
      </a>
    </div>
    <%-include('partials/last')%>