<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/5.css" />
    <title>Visual</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h2>Data visuals</h2>
    <div class="karo_yr">
      <%for(let i = 0;i<11;i++){ %>
      <img
        height="700px"
        width="700px"
        style="margin: 10px"
        src="/ai_gen_img/<%=i%>.png"
      />

      <%}%>
    </div>
    <div class="copyright">
      <p>&copy; 2023 IIIT Pune. All rights reserved.</p>
    </div>
  </body>
</html>
