body,
h1,
form {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="username"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input:required::after {
  content: " *";
  color: red;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
