.user,
.effi {
  text-align: center;
  margin: 20px;
}
.user {
  margin-top: 80px;
}

.user a,
.effi a {
  text-decoration: none;
  color: #333;
  display: block;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user a:hover,
.effi a:hover {
  background-color: #007bff;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.user h2,
.effi h2 {
  margin-top: 10px;
}
