h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.karo_yr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.karo_yr img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.karo_yr img:hover {
  transform: scale(1.05);
}
