body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff3f3d3;
}
::-webkit-scrollbar {
  width: 0em;
}
.logout {
  color: #cd0000;
}
.nav_bar {
  height: 70px;
  background-color: #81b241;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_bar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.nav_bar div {
  padding: 25px;

  border-radius: 14px;
}
.nav_bar p {
  margin: 0;
}
.signpu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signpu img {
  margin-left: 4px;
}
.background {
  text-align: center;
  margin: 20px 0;
}
.img_tata {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.copyright {
  text-align: center;
  margin-top: 80px;
  color: #8fbd3f;
  font-size: 18px;
}

.nav_bar a:hover {
  color: #fbff00;
}
